@mixin btn-box {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 800;
  width: 17rem;
  height: 6rem;
  color: white;
  text-decoration: none;
  border-radius: 5rem;
  transition: background-color 0.3s;
}

@mixin btn-before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  z-index: -1;
  transition: opacity 0.3s;
}
